@model MovieWithGenresViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>

            @for(var i = 0; i< Model.Genres.Count; i++)
            {
                <div class="form-group">
                    <label class="control-label">@Model.Genres[i].Name</label>
                    <input asp-for="Genres[i].IsSelected" />
                    <input asp-for="Genres[i].Id" type="hidden" />
                    <input asp-for="Genres[i].Name" type="hidden"  />
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
