@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input class="form-control" asp-for="Email" type="email" />
            <span asp-validation-for="Email" class="text-danger" />
        </div>

        <div class="form-group">
            <label asp-for="Language">Language</label>
            <input class="form-control" asp-for="Language" />
            <span asp-validation-for="Language" class="text-danger" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input class="form-control" asp-for="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger" />
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">ConfirmPassword</label>
            <input class="form-control" asp-for="ConfirmPassword" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger" />
        </div>

        <button class="btn btn-primary mt-2 form-control">Register</button>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}